/* overrides */

.list-group-flush .list-group-item:first-child {
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
}

.close {
    text-shadow: none;
}



/* additions */

.dropdown-item-dark {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item-dark:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background: #212529 linear-gradient(180deg, #212530, #212531) repeat-x;
}

.border-dashed {
    border-style: dashed !important;
}

a:hover {
    color: #003166;
    text-decoration: none;
}
a[href] {
    color: inherit;
    text-decoration: none;
}
a[href]:hover {
    color: inherit;
    text-decoration: none;
}

.list-group-item {
    padding: 0;
    margin: 0.5rem 1rem;
}

.btn {
    padding: 0.375rem 0.75rem;
}

.btn-fluid {
    border-radius: 0;
}

.badge.badge-outline {
    background-color: transparent
}
.badge.badge-outline.badge-primary {
    border-color: #007bff;
    color: #007bff
}
.badge.badge-outline.badge-secondary {
    border-color: #6c757d;
    color: #6c757d
}
.badge.badge-outline.badge-success {
    border-color: #28a745;
    color: #28a745
}
.badge.badge-outline.badge-warning {
    border-color: #ffc107;
    color: #ffc107
}
.badge.badge-outline.badge-info {
    border-color: #17a2b8;
    color: #17a2b8
}
.badge.badge-outline.badge-danger {
    border-color: #dc3545;
    color: #dc3545
}
.badge.badge-outline.badge-indigo {
    border-color: #6610f2;
    color: #6610f2
}
.badge.badge-outline.badge-purple {
    border-color: #6f42c1;
    color: #6f42c1
}
.badge.badge-outline.badge-pink {
    border-color: #e83e8c;
    color: #e83e8c
}
.badge.badge-outline.badge-caution {
    border-color: #fd7e14;
    color: #fd7e14
}
.badge.badge-outline.badge-teal {
    border-color: #20c997;
    color: #20c997
}
.badge.badge-outline.badge-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff
}
.badge.badge-outline.badge-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff
}
.badge.badge-outline.badge-success:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff
}
.badge.badge-outline.badge-warning:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff
}
.badge.badge-outline.badge-info:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff
}
.badge.badge-outline.badge-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff
}
.badge.badge-outline.badge-indigo:hover {
    background-color: #6610f2;
    border-color: #6610f2;
    color: #fff
}
.badge.badge-outline.badge-purple:hover {
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: #fff
}
.badge.badge-outline.badge-pink:hover {
    background-color: #e83e8c;
    border-color: #e83e8c;
    color: #fff
}
.badge.badge-outline.badge-caution:hover {
    background-color: #fd7e14;
    border-color: #fd7e14;
    color: #fff
}
.badge.badge-outline.badge-teal:hover {
    background-color: #20c997;
    border-color: #20c997;
    color: #fff
}



.input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.bd-callout-danger {
    border-left-color: #d9534f;
}
.bd-callout-warning {
    border-left-color:#f0ad4e;
}
.bd-callout-info {
    border-left-color:#5bc0de;
}
.active-sidebar-primary {
    border-right: .35rem solid #007bff !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-secondary {
    border-right: .35rem solid #6c757d !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-success {
    border-right: .35rem solid #28a745 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-info {
    border-right: .35rem solid #17a2b8 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-warning {
    border-right: .35rem solid #ffc107 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-caution {
    border-right: .35rem solid #fd7e14 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-danger {
    border-right: .35rem solid #dc3545 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-light {
    border-right: .35rem solid #f8f9fa !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-light-2 {
    border-right: .35rem solid #e9ecef !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-light-3 {
    border-right: .35rem solid #dee2e6 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-light-4 {
    border-right: .35rem solid #ced4da !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-light-5 {
    border-right: .35rem solid #adb5bd !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-dark-sm {
    border-right: .35rem solid #495057 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-dark {
    border-right: .35rem solid #343a40 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-dark-lg {
    border-right: .35rem solid #212529 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-indigo {
    border-right: .35rem solid #6610f2 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-purple {
    border-right: .35rem solid #6f42c1 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-pink {
    border-right: .35rem solid #e83e8c !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-teal {
    border-right: .35rem solid #20c997 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.active-sidebar-white {
    border-right: .35rem solid #fff !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
#paragraph_container > .border-teal {
    transition: all 200ms ease-out;
}
#carousels_container > .border-caution {
    transition: all 200ms ease-out;
}
#img_container > .border-info {
    transition: all 200ms ease-out;
}
#video_container > .border-pink {
    transition: all 200ms ease-out;
}
#paragraph_container > .border-teal:hover {
    filter: brightness(80%);
}
#carousels_container > .border-caution:hover {
    filter: brightness(65%);
}
#img_container > .border-info:hover {
    filter: brightness(80%);
}
#video_container > .border-pink:hover {
    filter: brightness(65%);
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.flash {
    background-color: transparent;
    transition: background-color 400ms cubic-bezier(0.3, 0.69, 0, 0.43);
}
.hidden {
    display: none;
}
.shadow-left {
    box-shadow: -0.5rem 0 1rem -0.5rem rgba(0, 0, 0, 0.15) !important;
}
.border-custom {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.border-top-custom {
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.border-right-custom {
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.border-bottom-custom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.border-left-custom {
    border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.icon-bar {
    position: fixed;
    top: 12%;
    padding: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 40;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20%;
    width: 120%;
    color: white;
    font-size: 29px;
}
/*.bg-light-lg {
  background-color: #dee2e6 !important;
}*/
.rounded-bottom-left {
    border-bottom-left-radius: .25rem;
}
.rounded-bottom-right {
    border-bottom-right-radius: .25rem;
}
.rounded-top-left {
    border-top-left-radius: .25rem;
}
.rounded-top-right {
    border-top-right-radius: .25rem;
}
.bg-primary-light {
    background-color: #e8f3ff !important;
}
.bg-success-light {
    background-color: #e8ffed !important;
}
.bg-warning-light {
    background-color: #fff9e8 !important;
}
.bg-caution-light {
    background-color: #fff2e8 !important;
}
.bg-danger-light {
    background-color: #ffe8ea !important;
}
.bg-indigo-light {
    background-color: #f2ebff !important;
}
.bg-pink-light {
    background-color: #ffe8f3 !important;
}
.bg-teal-light {
    background-color: #e8fff8 !important;
}
.bg-primary-dark {
    background-color: #0a1624 !important;
}
.bg-success-dark {
    background-color: #09210e !important;
}
.bg-warning-dark {
    background-color: #211b09 !important;
}
.bg-caution-dark {
    background-color: #211409 !important;
}
.bg-danger-dark {
    background-color: #210609 !important;
}
.bg-indigo-dark {
    background-color: #120921 !important;
}
.bg-pink-dark {
    background-color: #240a16 !important;
}
.bg-teal-dark {
    background-color: #09241c !important;
}
.primary-light.text-dark:hover {
    color: #007bff !important;
}
.success-light.text-dark:hover {
    color: #28a745 !important;
}
.warning-light.text-dark:hover {
    color: #ffc107 !important;
}
.caution-light.text-dark:hover {
    color: #fd7e14 !important;
}
.danger-light.text-dark:hover {
    color: #dc3545 !important;
}
.indigo-light.text-dark:hover {
    color: #6610f2 !important;
}
.pink-light.text-dark:hover {
    color: #e83e8c !important;
}
.teal-light.text-dark:hover {
    color: #20c997 !important;
}
.info-light.text-dark:hover {
    color: #17a2b8 !important;
}
.primary-light.text-light:hover {
    color: #80a3d0 !important;
}
.success-light.text-light:hover {
    color: #71a37c !important;
}
.warning-light.text-light:hover {
    color: #f8e1a0 !important;
}
.caution-light.text-light:hover {
    color: #fdc69a !important;
}
.danger-light.text-light:hover {
    color: #fd939d !important;
}
.indigo-light.text-light:hover {
    color: #ccacf2 !important;
}
.pink-light.text-light:hover {
    color: #f696c2 !important;
}
.teal-light.text-light:hover {
    color: #93cebd !important;
}
.info-light.text-dark:hover {
    color: #7dacb3 !important;
}
.md-28 {
    font-size: 28px !important;
}
.md-18 {
    font-size: 18px !important;
}
.md-16 {
    font-size: 16px !important;
}
.md-10x {
    font-size: 10vw !important;
}
.btn-2 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
b {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: all ease-in-out 200ms;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.primary-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.success-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(7, 255, 0, 0.25);
}
.warning-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(227, 255, 0, 0.25);
}
.caution-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 120, 0, 0.25);
}
.danger-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 13, 0, 0.25);
}
.indigo-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(84, 0, 255, 0.25);
}
.pink-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 146, 0.25);
}
.teal-light.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 220, 0.25);
}
.nav-link.text-dark:hover {
    background-color: #e9ecef
}
.nav-link.text-dark {
    transition: all ease-in-out 0.15s;
}
.add-not-light, .add-not-dark {
    transition: all ease-in-out 200ms;
}
.add-not-light:hover {
    cursor: pointer !important;
    background-color: #e8ffed;
}
.add-not-dark:hover {
    cursor: pointer !important;
    background-color: #09210e;
}
table.table-light-4 tbody tr:last-child {
    border-bottom: 1px solid #e6e9ec;
}
table.table-dark tbody tr:last-child {
    border-bottom: 1px solid #454d55;
}
.row-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.3rem;
    cursor: pointer;
}
[scope~=row] {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: context-menu;
}


.modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2)
}

.img-preview {
    height: 85%;
    width: 85%;
    object-fit: contain;
    cursor: pointer;
}

.img-preview-container {
    display: flex;
    height: 256px;
}

.col-md-4.mx-2 {
    transition: all ease-in-out 200ms;
}

.col-md-4.mx-2:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.pointer {
    cursor: pointer;
}

.paragraph-title {
    padding-left: 0.75rem;
}

.flex-center {
    justify-content: center;
    align-items: center;
}